server.host: "0.0.0.0"
xpack.encryptedSavedObjects.encryptionKey: 12345678909876543210ABCD12345678
server.publicBaseUrl: "https://{{ public_ip }}:5601"
server.ssl.enabled: true
server.ssl.certificate: "/etc/kibana/config/certs/kibana.crt"
server.ssl.key: "/etc/kibana/config/certs/kibana.key"

